.navbar {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  background-color: #f5f5f5;
}
.logo {
}
.logo img {
  max-width: 100%;
  width: 14rem;
  height: 4rem;
}
.search-bar {
  position: relative;
  border: 1px solid #b0b0b0;
  padding: 0.5rem 4rem 0.5rem 4rem;
  border-radius: 3.2rem;
  background: #fff;
}
.svg {
  position: absolute;
  width: 20px;
  top: 1rem;
  left: 1rem;
}
.input {
  border: none;
  outline: none;
  font-size: 2rem;
}
.input::placeholder {
  padding-left: 0rem;
  font-size: 1.6rem;
}
.gray-box_wrapper {
  display: none;
}

.sidebar {
  padding: 2rem;
  font-size: 1.6rem;
  border: 1px solid #e5e5e5;
}
.person-title {
  font-size: 5rem;
  margin: 1rem 0;
}
.person-text {
  font-size: 2.5rem;
  margin: 1rem 0;
}

.people {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.people_data {
  max-width: 270px;
  border: 1px solid #e5e5e5;
  padding: 2rem;
  text-align: center;
  flex-basis: 100%;
  margin: 0 2rem;
  border-radius: 5px;
  flex-basis: 100%;
}
.feed_wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.peopleData {
  margin: 0 auto;
  border: 1px solid #e5e5e5;
  padding: 2rem;
  text-align: center;
  flex-basis: 100%;
  margin: 0 2rem;
  border-radius: 5px;
  animation: skeleton 1s ease;
}
.peopleTiltleSk {
  background-color: #d8d8d8;
  margin-top: 2rem;
  width: 200px;
  height: 20px;
  margin: 0 auto 2rem auto;
  border-radius: 20px;
}
.peopleStateSk {
  background-color: #d8d8d8;
  margin-top: 2rem;
  width: 140px;
  height: 14px;
  margin: 2rem auto;
  border-radius: 20px;
}
.people_img {
}
.people-img {
  display: block;
  max-width: 100%;
  border-radius: 8rem;
  margin: 0 auto;
}
.peopleImgSk {
  display: block;
  max-width: 100%;
  border-radius: 8rem;
  margin: 0 auto;
}
.peopleImageeSk {
  width: 140px;
  height: 140px;
  margin: 0 auto;
}

.sub_title {
  font-size: 2rem;
  font-weight: 700;
  color: #222d39;
}
.sub_text {
  font-size: 1.6rem;
  color: #222d39;
  display: block;
  cursor: pointer;
}
.btn-text {
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  text-decoration: underline;
}
.paginate {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 0;
  cursor: pointer;
  transition: 250ms ease-in;
  max-width: 300px;
  margin: 0 auto;
}
.paginate li {
  font-size: 2rem;
  padding: 1rem;
  color: #28b0fc;
  font-weight: 700;
}
.active-paginate {
  color: #9b9b9b !important;
  font-size: 3rem !important;
  text-decoration: underline;
  text-decoration-thickness: 4px;
}
.next_link {
  background-color: #28b0fc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-left: 2rem;
}
.next_link a {
  color: whitesmoke;
  font-weight: bolder;
}
.next_link a::after {
  content: "";
  display: block;
  background: url(/src/images/next.png);
  width: 20px;
  height: 20px;
}
.prev_link {
  background-color: #28b0fc;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin-right: 2rem;
}
.prev_link a {
  color: whitesmoke;
  font-weight: bolder;
}
.prev_link a::after {
  content: "";
  display: block;
  background: url(/src/images/prev.png);
  width: 20px;
  height: 20px;
}

.disabled_link {
  background-color: #e5e5e5;
}
@keyframes skeleton {
  to {
    opacity: 0.5;
  }
}

@media only screen and (min-width: 1200px) {
  /*Tablets [601px -> 1200px]*/
  .navbar {
    padding: 2rem 10rem;
  }
  .search-bar {
    padding: 0.5rem 12rem 0.5rem 4rem;
  }
  .gray-box_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gray-box:nth-child(1) {
    margin-right: 1.6rem;
  }
  .gray-box {
    background-color: #d8d8d8;
    width: 17.6rem;
    height: 1.6rem;
    border-radius: 3.2rem;
  }
  .main {
    display: flex;
    padding: 4rem 2rem;
  }
  .sidebar {
    padding: 2rem;
    flex-basis: 20%;
    font-size: 2.2rem;
  }
  .person {
    flex-basis: 80%;
  }
  .people_data {
    max-width: 300px;
  }
  .people_text {
    font-size: 1.8rem;
  }
  .person-title {
    margin-left: 3.8rem;
  }
  .person-text {
    margin-left: 3.8rem;
  }
  .feed_wrapper {
    margin: 4rem auto;
  }
  .peopleData {
    max-width: 320px;
  }
}
